@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #003366;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* =========================================
   🔐 LOGIN
   ========================================= */
.login-container {
  background: white;
  border: 2px solid #003366;
  border-radius: 16px;
  padding: 40px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
}

.titulo {
  color: #d90429;
  font-weight: 700;
}

h2 {
  color: #003366;
  margin-bottom: 20px;
}

.form-login input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: 2px solid #003366;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.form-login input:focus {
  border-color: #d90429;
}

.form-login button {
  width: 100%;
  padding: 12px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.form-login button:hover {
  background-color: #d90429;
}

.error {
  color: #d90429;
  margin-top: 10px;
  font-weight: bold;
}