<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
    <div class="login-container">
    <h2>🌊 Bienvenido a Mariscos El 28 🐠</h2>
    <form action="/index2.html" method="get">
      <div class="input-group">
        <input type="text" placeholder="Usuario">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Contraseña">
      </div>
      <button class="btn"  type="submit">Iniciar Sesión</button>
      <div class="extra">
        <p>¿No tienes cuenta? <a href="../views/register.html">Regístrate</a></p>
      </div>
    </form>
  </div>
</body>
</html>