<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnología propuesta</title>
</head>
<body>

    <h1>Tecnología propuesta</h1>
    <p>Si este proyecto fuera real, lo montaríamos en <strong>WordPress con WooCommerce</strong> 
     ya que ofrece una solución abierta, flexible y con amplia comunidad de soporte.</p>
  <p><em>Nota: en este curso todo se simulará únicamente en front-end con HTML, CSS y JavaScript, 
     sin back-end real.</em></p>
</body>
</html>